version: '3.8'
services:
  db:
    image: postgis/postgis:14-3.3-alpine
    restart: always   # restart automatically if stops
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    volumes: 
      - db:/var/lib/postgresql/data
volumes: 
  db:
    driver: local